/*
SALE ORDER REPORTS
*/

.box-saleorder {
  font-size:12px;
  padding-top: 20px;
}

.box-saleorder .block-left {
  float: left; 
  margin-right: 20px;
}
.box-saleorder .break-avoid {
  page-break-inside: avoid;
}

.table-etic {
    border-left: 1px solid rgb(204, 204, 204);
    border-right: 1px solid rgb(204, 204, 204);
    padding: 1em;
}

.etichette{
/*    border-left: 1px solid rgb(204, 204, 204);
    border-right: 1px solid rgb(204, 204, 204);*/
    border-top: 1px solid rgb(204, 204, 204);
    border-bottom: 1px solid rgb(204, 204, 204);
    padding: 1em;
}

th.etic-table{
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #DCDCDC
}

.nowrap{
  white-space: pre-wrap;
}

table.etichette small {
  padding-left: 80px;
}


/*
INVOICE REPORTS
*/

th.w-40 {
  width: 40%;
}

.etichette-inv {
  font-size: 13px;
}

.etichette-inv-border{
    border-top: 1px solid rgb(204, 204, 204);
    border-bottom: 1px solid rgb(204, 204, 204);
    padding: 1em;
    margin-top: 20px;
    font-size: 13px;
}

.etichette-inv-bottom{
    border-top: 1px solid rgb(204, 204, 204);
    font-size: 12px;
    padding: 1em 0;
}

.etichette-inv-note{
    font-size: 11px;
    padding: 1em;
}

/*
General layout
*/

.footer {
  font-size: 12px;
}

/* DDT */
table.delivery_data {
  margin-top: 100px;
}
table.delivery_data .signature {
  min-height: 2em;
}

